.menucontainer{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: top;
    background-color: #1f2937;
    margin: 0px;
}

.menuoption {
    color: white;
    padding-top: 20px;
    padding-right: 30px;
    font-size: 24px;
}

.logo {
    display: flex;
    justify-content: flex-start;
}

.menucontainertext {
    display:flex;
    padding-right: 90px;
}


.section2 {
    display: flex;
    flex-direction: row;
    padding: 3%;
    background-color: #1f2937;
    justify-content: space-around;
}
.lefthalf {
    display: flex;
    flex-direction: column;;
    justify-Content: space-around;
    

}

.lefthalfcontent {
    display: flex;
    flex-direction: column;
    
    padding: 1%;
    color: white;
}
.righthalf {
    color: white;
    text-align: center;

}