.header {
    display: flex;
    background-color: blue;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;  
  }

.menu {
    color: orangered;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    padding: 15px;
}  

.header:nth-child(1){
    display: flex;
    justify-self: flex-start;
    padding: 10px;
   
}
.title {  
    color: white;
    font-size: 50px;
}

.main {
    display: flex;
    flex: 1;
    justify-content: center;
    font-size: xxx-large;
    min-height: 500px;
    background-color: bisque;

}
